.button {
  background-color: $primary-color;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;
  display: inline-block;
}
.button:hover {
  background-color: #fff;
  color: $primary-color;
  text-decoration: none;
  border: 1px solid $primary-color;
}
.book_now_banner{
  background-color: $primary-color-dark;
  color: $white-text;

  p{
    color: $white-text
  }
  a.button {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    display: inline-block;
  }
  .button {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    display: inline-block;
  }
  .button:hover {
    background-color: #fff;
    color: $primary-color;
    text-decoration: none;
    border: 1px solid $primary-color;
  }
}
.book_now_banner .book_now_text {
    color: $white-text;
    font-size: 24px;
    float: right;
    margin-top: 3px;
}
.info_box{
  background-color: $primary-color;
  color: $white-text;

  p{
    color: $white-text
  }
  a.button {
      padding: 5px 20px 5px 20px;
      margin-top: 5px;
      display: inline-block;
  }
  .button {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    display: inline-block;
  }
  .button:hover {
      background-color: #fff;
      color: $primary-color;
      text-decoration: none;
      border: 1px solid $primary-color;
  }
}
.infotitle {
    color: $white-text;
    font-size: 24px;
    float: right;
    margin-top: 3px;
}
div.wpcf7 {
    margin: 0;
    padding: 0;
    width: 100%;
}

.HearingForm h2 {
    color: $white-text;
    font-size: 24px;
}
.HearingForm{
  background-color: $main-background-color;
  color: $white-text;

  p{
    color: $white-text
  }
  a.button {
      padding: 5px 20px 5px 20px;
      margin-top: 5px;
      display: inline-block;
  }
  .button {
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    display: inline-block;
  }
  .button:hover {
    background-color: #fff;
    color: $primary-color;
    text-decoration: none;
    border: 1px solid $primary-color;
  }
}
.HearingForm .col{
  margin-bottom: 10px;
}
.PromotionContent{

}
.sliderbutton{
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    display: inline-block;
}
.sliderbutton:hover {
    background-color: #fff;
    color: $primary-color;
    text-decoration: none;
    border: 1px solid $primary-color;
}
.servicesection span{
    color: white;
    font-size: 1.2rem;
}
.servicesection a{
    padding: 5px 20px 5px 20px;
    float: right;
    background-color: #86888B;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}
.servicesection a:hover{
    padding: 5px 20px 5px 20px;
    float: right;
    background-color: white;
    color: #86888B;
    border: 1px solid #86888B;
    border-radius: 5px;
    text-decoration: none;
}
.servicerow h5{
    font-weight: bold;
    margin-top: 75px;
}
.formbutton{
    background-color: $primary-color;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px 30px 5px 30px;
    margin-top: 5px;
    display: inline-block;
}
.formbutton:hover {
    background-color: #fff;
    color: $primary-color;
    text-decoration: none;
    border: 1px solid $primary-color;
}
.pageheading{
    padding: 50px 0px;
}
.pagetitle{
    color: #006DB6;
    font-size: 1.5rem;
}
.Pagebanner{
    background-position: center;
    background-repeat: no-repeat;
}
.Pagebanner .col {
    padding: 8.5rem 0;
    float: left;
    display: table;
}
.bannertitle {
    color: white;
    font-weight: bold;
    font-size: 3rem;
}
.blackstatement{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0px;
  padding: 40px 0px;
}
.whitestatement{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0px;
  padding: 20px 0px;
}

.fifty-fifty-section-background {
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  margin: 60px 0px;
  max-height: 480px;
}
.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.fifty-percent-section.white-background {
    width: 495px;
    height: 100%;
    background-color: white;
}
.container.padding0 {
    padding: 0px;
}
