body{
			font-family: 'Roboto', sans-serif, arial;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
		margin-bottom: .75em;
		font-family: 'Roboto', sans-serif, arial;
}

h1{
    font-weight: 300;
}
h2{
    font-size: 2rem;
    font-weight: 300;
}
h3{
    font-size: 1.75rem;
    font-weight: 300;
}
h4{
    font-weight: 300;
}
h5{

}
h6{

}
p{
		font-family: 'Roboto', sans-serif, arial;
}
ul{
	 padding-left: 20px;
	li{
	font-family: 'Roboto', sans-serif, arial;
	margin-bottom: 0px!important;
  font-weight: normal!important;
  font-size: 1rem!important;
  color: black!important;
	}
}
ol{
	li{
	font-family: 'Roboto', sans-serif, arial;
	}
}
a {
	color: $primary-color;
	text-decoration: none;
}